/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 40px;
}

.navbar {
    margin-bottom: 0;
}

.navbar .avatar {

}

.navbar-brand img {
    display: block;
    float: left;
    height: 49px;
    margin-left: 5px;
    position: relative;
    top: -15px;
}

footer p {
    padding: 15px;
}

.watcher .control {
    float: right;
}

.main .control {
    float: right;
}

.addRepoPanel .panel-body label.labelName {
    width: 300px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 40px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #485563;
        padding: 0;
        padding-top: 10px;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    position: relative;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #4e5d6c;
}

.addRepoPanel a,
.addRepoPanel a:active {
    color: #ffffff;
    text-decoration: underline;
}

.addRepoPanel a:hover {
    text-decoration: none;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

footer {
    text-align: center;
}
